node_modules
.npm
coverage
storybook-static
.flow-typed
logs
.next
_locales
.idea/
*.pyc
*.swp
mock_server/flask_server/*.json
mock_server/*_local.conf
mock_server/*_local.py
*.rdb
screenshot/
tests/pytest/settings_local.py
tests/pytest/.cache/
newrelic_agent.log
.DS_Store
tests/quicksmoke/docker-compose.override.yml
tests/quicksmoke/smoke_result.xml
tests/quicksmoke/smoke_settings_local.py
yarn-error.log
**/__image_snapshots__/*.actual.png
**/__image_snapshots__/*.diff.png